{{ define "main" }}
    <header class="header">
        {{ partial "header.html" (dict "title"    site.Title 
                                       "subtitle" "Research Professor in Computer Science" 
                                       "menuID"   "academic" 
                                       "section"  .) }}
    </header>
    <main class="academic-home-container">
        <div class="academic-home-content">
            {{ .Content }}
        </div>
    </main>
    <!-- Footer -->
    <footer class="footer">
      {{ partial "footer.html" . }}
    </footer>   
{{ end }}

