{{ define "main" }}
<div class="home-container">
  <div>
      <!-- Empty so that the menu is centered. -->
  </div>
<main class="home-content">        
    <!-- Main content -->
      {{ partial "header.html" 
          (dict "title"    site.Title 
                "subtitle" site.Params.Subtitle
                "menuID"   "main" 
                "section"  .) }}
      <div class="home-content-menu-descr">
      <p>Choose the site that best fits your interest.</p>
      </div>
  </main>  
  <!-- Footer -->
  <footer class="footer">
    {{ partial "footer.html" . }}
  </footer> 
</div>
{{ end }}
